{% extends 'bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div class="container">
        <h1>{% block title %}Restaurant{% endblock %}</h1>

        <p>
            <a href="{% url "home" %}">Home</a>
            <a href="{% url 'menu_list' %}">Menu</a>
            {% if user.username %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
            {% if user.owner %}
                <a href="{% url 'create_menu_item' %}">Update-Menu</a>
                <a href="{% url 'create_restaurant' %}">Create Restaurant</a>
                <a href="{% url 'owner_registration' %}">Create Owner</a>
                <a href="{% url 'customer_list' %}">Customer List</a>
            {% endif %}
            <a href="{% url 'order_list' %}">Order-List</a>
            <a href="{% url 'create_order' %}">Create-Order</a>
            {% if user.customer %}
                <a href="{% url 'customer_profile' %}">Profile</a>
            {% endif %}
        </p>

        {% bootstrap_messages %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}

{% block body %}
{% endblock %}


</body>
</html>

