{% extends 'bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}

    <style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }
    th {
        font-size: 25px;
    }

    td a{

    }

    li a {
        display: block;
        width: 110px;
        font-weight: bold;
        color: white;
        background-color: black;
        text-align: center;
        padding: 4px;
        margin: 3px;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 4px;
    }

    nav {
         text-align: center;
    }
    nav ul {
         display: inline-block;
    }
    </style>
    <nav>
        <ul>
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url 'menu_list' %}">Menu</a></li>
            {% if user.username %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            {% if user.owner %}
                <li><a href="{% url 'management_options' %}">Management Options</a></li>
            {% endif %}
            {% if not user.owner %}
            <li><a href="{% url 'create_order' %}">Create Order</a></li>
            {% endif %}
            {% if user.customer %}
                <li><a href="{% url 'customer_profile' %}">Profile</a></li>
            {% endif %}
            {% if user %}
                <li><a href="{% url 'order_list' %}">Order List</a></li>
            {% endif %}
        </ul>
    </nav>
        {% bootstrap_messages %}

        {% block content %}
            <div></div>
            <div>
                Welcome to our Restaurant{% if user.customer %}, {{ user.customer.name }}{% endif %}!  We look forward to receiving your order.
            </div>
        {% endblock %}

{% endblock %}

{% block body %}


{% endblock %}

