{% extends "base.html" %}

{% block title %}
    <h3>Customer Details</h3>
{% endblock %}

{% block body %}
    <h1>{{ object.name }}</h1>
    <p>{{ object.email }}</p>
    <p>{{ object.telephone }}</p>
    <p>{{ object.address.line_1 }}</p>
    {% if object.address.line_2 %}
        <p>{{ object.address.line_2 }}</p>
    {% endif %}
    <p>{{ object.address.city }}</p>
    <p>{{ object.address.street }}</p>
    <p>{{ object.address.zipcode }}</p>
    {% if object.address.plus_4 %}
        <p>{{ object.address.plus_4 }}</p>
    {% endif %}
{% endblock %}