{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
    <div style="text-align: center; padding: 100px; ">
        <p style="padding: 40px"><a style="background-color: rgba(9, 9, 165, 0.72); border-radius: 100px; padding: 40px; margin: 30px; color: rgb(194, 235, 255); font-size: x-large; font-family: serif; " href="/create_menu_item/">Add Menu Item</a></p>
        <p style="padding: 40px"><a style="background-color: rgba(9, 9, 165, 0.72); border-radius: 100px; padding: 40px; margin: 15px; color: rgb(194, 235, 255); font-size: x-large; font-family: serif; " href="{% url 'customer_list' %}">Customer List</a></p>
        <p style="padding: 40px"><a style="background-color: rgba(9, 9, 165, 0.72); border-radius: 100px; padding: 40px; margin: 15px; color: rgb(194, 235, 255); font-size: x-large; font-family: serif; " href="{% url 'order_list' %}">Order List</a></p>
        <p style="padding: 40px"><a style="background-color: rgba(9, 9, 165, 0.72); border-radius: 100px; padding: 40px; margin: 15px; color: rgb(194, 235, 255); font-size: x-large; font-family: serif; " href="{% url 'create_restaurant' %}">Create Restaurant</a></p>
        <p style="padding: 40px"><a style="background-color: rgba(9, 9, 165, 0.72); border-radius: 100px; padding: 40px; margin: 15px; color: rgb(194, 235, 255); font-size: x-large; font-family: serif; " href="{% url 'restaurant_list' %}">Restaurant List</a></p>
        <p style="padding: 40px"><a style="background-color: rgba(9, 9, 165, 0.72); border-radius: 100px; padding: 40px; margin: 15px; color: rgb(194, 235, 255); font-size: x-large; font-family: serif; " href="{% url 'owner_registration' %}">Create Owner</a></p>
        <p style="padding: 40px"><a style="background-color: rgba(9, 9, 165, 0.72); border-radius: 100px; padding: 40px; margin: 15px; color: rgb(194, 235, 255); font-size: x-large; font-family: serif; " href="{% url 'owner_list' %}">Owner List</a></p>
    </div>
{% endblock %}