{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
    <h3>Menu</h3>
{% endblock %}

{% block content %}
    {% for food in object_list %}
        <div>
            <h4><a href="{% url 'menu_detail' food.pk %}">{{ food.title }}</a></h4>
            <p>{{ food.description }}</p>
            <p>${{ food.cost }}</p>
            <p>{{ food.menu_parts }}</p>
            {% if user.owner %}
            <form method="GET" action="{% url 'update_menu_item' food.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-info btn-xs">Update</button>
            </form>
            <form method="POST" action="{% url 'delete_menu_item' food.pk %}">
                {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-xs">Delete</button>
            </form>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}