{% extends "base.html" %}

{% block title %}
    <h3>Menu</h3>
{% endblock %}

{% block body %}
    {% for food in object_list %}
        <a href="{% url 'menu_detail' food.pk %}">{{ food.title }}</a>
        <form method="POST" action="{% url 'delete_menu_item' food.pk %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        <form method="GET" action="{% url 'update_menu_item' food.pk %}">
            {% csrf_token %}
            <button type="submit">Update</button>
        </form>
    {% endfor %}
{% endblock %}