{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

    <style>
    td a, td form, td p {
        margin: 5px;
    }
    </style>

    <div style="text-align: center; padding: 35px;">
        <p style="font-size: x-large">Appetizers</p>
        <table class="table-bordered" align="center">
            {% if user.owner %}
                <th style="font-size: medium; text-align: center">Name</th><th style="font-size: medium; text-align: center">Description</th><th style="font-size: medium; text-align: center">Price</th><th style="font-size: medium; text-align: center">Update</th><th style="font-size: medium; text-align: center">Delete</th>
            {% else %}
                <th style="font-size: medium; text-align: center">Name</th><th style="font-size: medium; text-align: center">Price</th>
            {% endif %}
            {% for food in appetizer %}
                <tr>
                    <td><a href="{% url 'menu_detail' food.pk %}">{{ food.title }}</a></td>
                    {% if user.owner %}
                    <td><p>{{ food.description }}</p></td>
                    {% endif %}
                    <td>${{ food.price }}</td>
                    {% if user.owner %}
                    <td><form method="GET" action="{% url 'update_menu_item' food.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Update</button>
                    </form></td>
                    <td><form method="POST" action="{% url 'delete_menu_item' food.pk %}">
                        {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </form></td>
                    {% endif %}
            {% endfor %}
        </table>
    </div>
    <div style="text-align: center; padding: 35px;">
        <p style="font-size: x-large">Entrees</p>
        <table class="table-bordered" align="center">
            {% if user.owner %}
                <th style="font-size: medium; text-align: center">Name</th><th style="font-size: medium; text-align: center">Description</th><th style="font-size: medium; text-align: center">Price</th><th style="font-size: medium; text-align: center">Update</th><th style="font-size: medium; text-align: center">Delete</th>
            {% else %}
                <th style="font-size: medium; text-align: center">Name</th><th style="font-size: medium; text-align: center">Description</th><th style="font-size: medium; text-align: center">Price</th>
            {% endif %}
            {% for food in entree %}
                <tr>
                    <td><a href="{% url 'menu_detail' food.pk %}">{{ food.title }}</a></td>
                    <td><p>{{ food.description }}</p></td>
                    <td>${{ food.price }}</td>
                    {% if user.owner %}
                    <td><form method="GET" action="{% url 'update_menu_item' food.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Update</button>
                    </form></td>
                    <td><form method="POST" action="{% url 'delete_menu_item' food.pk %}">
                        {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </form></td>
                    {% endif %}
            {% endfor %}
        </table>
    </div>
    <div style="text-align: center; padding: 35px;">
        <p style="font-size: x-large">Desserts</p>
        <table class="table-bordered" align="center">
            {% if user.owner %}
                <th style="font-size: medium; text-align: center">Name</th><th style="font-size: medium; text-align: center">Description</th><th style="font-size: medium; text-align: center">Price</th><th style="font-size: medium; text-align: center">Update</th><th style="font-size: medium; text-align: center">Delete</th>
            {% else %}
                <th style="font-size: medium; text-align: center">Name</th><th style="font-size: medium; text-align: center">Description</th><th style="font-size: medium; text-align: center">Price</th>
            {% endif %}
            {% for food in dessert %}
                <tr>
                    <td><a href="{% url 'menu_detail' food.pk %}">{{ food.title }}</a></td>
                    <td><p>{{ food.description }}</p></td>
                    <td>${{ food.price }}</td>
                    {% if user.owner %}
                    <td><form method="GET" action="{% url 'update_menu_item' food.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Update</button>
                    </form></td>
                    <td><form method="POST" action="{% url 'delete_menu_item' food.pk %}">
                        {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </form></td>
                    {% endif %}
            {% endfor %}
        </table>
    </div>
    <div style="text-align: center; padding: 35px;">
        <p style="font-size: x-large">Drinks</p>
        <table class="table-bordered" align="center">
            {% if user.owner %}
                <th style="font-size: medium; text-align: center">Name</th><th style="font-size: medium; text-align: center">Description</th><th style="font-size: medium; text-align: center">Price</th><th style="font-size: medium; text-align: center">Update</th><th style="font-size: medium; text-align: center">Delete</th>
            {% else %}
                <th style="font-size: medium; text-align: center">Name</th><th style="font-size: medium; text-align: center">Description</th><th style="font-size: medium; text-align: center">Price</th>
            {% endif %}
            {% for food in drink %}
                <tr>
                    <td><a href="{% url 'menu_detail' food.pk %}">{{ food.title }}</a></td>
                    <td><p>{{ food.description }}</p></td>
                    <td>${{ food.price }}</td>
                    {% if user.owner %}
                    <td><form method="GET" action="{% url 'update_menu_item' food.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Update</button>
                    </form></td>
                    <td><form method="POST" action="{% url 'delete_menu_item' food.pk %}">
                        {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </form></td>
                    {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}