{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
    <h3>Detail</h3>
{% endblock %}

{% block content %}
   <form method="get" action="{% url 'create_cart_options' %}">
            {% csrf_token %}
            <button type="submit">Add Item</button>
   </form>
   {% for cart_option in object.cartoption_set.all %}
       <div>{{ cart_option.menu_item.title }} {{ cart_option.count }}</div>
       <form method="get" action="{% url 'update_cart_options' cart_option.id %}">
                {% csrf_token %}
                <button type="submit">Edit Item</button>
       </form>
       <form method="POST" action="{% url 'delete_cart_options' cart_option.id %}">
            {% csrf_token %}
            <button type="submit">Delete Item</button>
        </form>
   {% endfor %}
{% endblock %}