{% extends "base.html" %}

{% load bootstrap3 %}


{% block content %}
    <div style="text-align: center; padding: 50px;">
        <hr />
        <h2>Owners</h2>
        {% for owner in object_list %}
            <a href="{% url 'owner_detail' owner.pk %}">{{ owner.name }}</a>
            <form method="get" action="{% url 'update_owner' owner.pk %}">
                {% csrf_token %}
                <button type="submit">Update</button>
            </form>
        {% endfor %}
        <hr />
        <a style="background-color: black; border-radius: 10px; padding: 10px; margin: 15px; color: white; " href="{% url 'owner_registration' %}">Create Owner</a>
    </div>
{% endblock %}