{% extends 'base.html' %}


{% block content %}
    <h3>Pay for order</h3>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form }}
        <div class="form-group">
            <div class="controls col-lg-8 col-lg-offset-2">
                <button type="submit" class="btn btn-default">Pay for order</button>
                Price:
                {% for currency, price in crypto_prices.items %}
                    {{ price }} {{ currency }},
                {% endfor %}
                ${{ order.total_cost }}
            </div>
        </div>
    </form>

    <h3>Items</h3>
    <hr>
    {% for cart_option in order.cartoption_set.all %}
        <div class="row">
            <div class="col-md-6">
                <strong>{{ cart_option.menu_item.title }}</strong>: {{ cart_option.quantity }} - ${{ cart_option.price }}<br>
                {{ message.text }}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
