{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

    <div style="background-color: lightslategray; text-align: center; border-radius: 200px; margin: 25px; padding: 15px;">
    <form method="post" class="form-horizontal" style="text-align: center; ">
        {% csrf_token %}
        {{ restaurant_form.as_p }}
        {{ address_form.as_p }}
{#        <input type="submit" name="Create"/>#}
        <button class="btn-danger" name="Create" type="submit" name="Register">Submit</button>
    </form>
    </div>
{% endblock %}